@using Sandbox

@namespace VNBase.UI

@attribute [Title( "VN Hud" )]
@attribute [Category( "VNBase" )]
@inherits PanelComponent

@if ( Player.IsValid() )
{
    <root class="@( Player.IsScriptActive ? "" : "hidden" )" style="background-image: url('@( Player.State.Background )')">
        <CharacterPortraits Player="@Player" Settings="@Player.Settings" Hud="@this"/>
        <Choices Player="@Player" Settings="@Player.Settings" Hud="@this"/>
        <DialogueBox Player="@Player" Settings="@Player.Settings" Hud="@this"/>
        
        <!-- Anything in this container div will be centered on the hud -->
        <div class="center-container" @ref="_centerContainer">
            <DialogueHistory class="hidden" Player="@Player" Settings="@Player.Settings" Hud="@this" @ref="DialogueHistory"/>
        
            @if ( Player.Settings.SettingsEnabled )
            {
                <SettingsPanel class="hidden" Player="@Player" Settings="@Player.Settings" Hud="@this"/>
            }
        </div>

        @if ( ShouldShowInput )
        {
            <TextInput Player="@Player" Settings="@Player.Settings" Hud="@this"/>
        }

        @if ( Player.Settings.ControlPanelEnabled )
        {
            <ControlPanel Player="@Player" Settings="@Player.Settings" Hud="@this"/>
        }
    </root>
}