@namespace VNBase.UI

@inherits SubPanel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
    <div class="control-buttons" @ref="ControlButtons">
        <button icon="skip_next" class="control-button @( Player?.CanSkip() == true ? "" : "disabled" )" onclick="@Skip">Skip</button>
        <button icon="@( IsAutomaticMode ? "chat" : "autorenew" )" class="control-button @( Player?.IsAutomaticModeAvailable == true ? "" : "disabled" )" onclick="@ToggleAutomaticMode">@( IsAutomaticMode ? "Manual" : "Auto" )</button>
        <button icon="@( UIVisible ? "visibility_off" : "visibility" )" class="control-button" onclick="@ToggleUI">@( UIVisible ? "Hide UI" : "Show UI" )</button>
        <button icon="history" class="control-button" onclick="@( () => ToggleHudSubPanel( "DialogueHistory" ) )">History</button>
        @if ( Settings?.SettingsEnabled ?? false )
        {
            <button icon="settings" class="control-button" onclick="@( () => ToggleHudSubPanel( "SettingsPanel" ) )">Settings</button>
        }
    </div>
</root>
