@using Sandbox

@namespace VNBase.UI

@inherits SubPanel

@if ( !Player.IsValid() )
{
    return;
}

<root>
    @if ( Player.State.SpeakingCharacter.IsValid() )
    {
        <div class="characterPanel">
            <label class="character" style="color: @Player.State.SpeakingCharacter.NameColor.Rgba">@Player.State.SpeakingCharacter.Name</label>
            @if ( !string.IsNullOrEmpty( Player.State.SpeakingCharacter.Title ) )
            {
                <label class="title" style="color: @Player.State.SpeakingCharacter.TitleColor.Rgba">@Player.State.SpeakingCharacter.Title</label>
            }
        </div>
    }

    <div class="dialoguePanel">
        <label class="dialogueText" IsRich="@( true )">@Player?.State.DialogueText</label>

        @if ( CanContinue )
        {
            <img class="finished-icon" src="/materials/ui/icons/dialoguefinished.png" alt="Finished icon"/>
        }
    </div>
</root>
